.sushi-bars {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: row;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.sushi-bar-div {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 130px;
  border: solid 5px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 25px;
  padding: 35px 0 0 30px;
  margin-left: 50px;
  margin-top: 40px;
}

.bar-name {
  text-transform: uppercase;
  font-size: 30px;
  color: #175048;
}

.bar-website {
  font-family: Avenir;
  color: #226259;
  text-decoration: none;
  font-size: 14px;
}

.bar-avatar {
  height: 90px;
  width: auto;
}

.bar-avatar:hover {
  transform: scale(1.1);
}

.bar-location {
  font-size: 18px;
}
