.sushi-rolls {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: row;
  justify-content: space-between;
  margin: 10px 0px 0 10px;
  padding: 40px;
}

.sushi-rolls-div {
  display: flex;
  flex-direction: row;
}

.sushi-rolls-div {
  width: 378px;
  height: 148px;
  border: solid 8px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 20px;
  padding: 20px 10px 30px 30px;
  /* margin-left: 50px;
  margin-top: 100px; */
}

.sushi-roll-img {
  margin: 20px 5px 0 0;
}

.sushi-avatar {
  height: 90px;
  width: auto;
}

.sushi-avatar:hover {
  transform: scale(1.1);
}

#back-card {
  background-color: #fd754f;
  width: 380px;
  height: 160px;
  border: solid 8px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 20px;
  padding: 10px 10px 30px 30px;
}

.Flipcard {
  border-radius: 25px;
}

#font-card {
  background-color: #fd754f;
  width: 370px;
  height: 150px;
  border: solid 5px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 25px;
  padding: 10px 10px 30px 30px;
}

#back-card {
  background-color: #fd754f;
}
