.sushi-rolls {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: row;
  justify-content: space-between;
  margin: 10px 0px 0 20px;
  padding: 30px;
}

.sushi-rolls-div {
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 77px;
  border: solid 5px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 20px;
  padding: 10px 30px 40px 30px;
  /* margin-left: 50px;
  margin-top: 100px; */
}

.sushi-roll-img {
  margin: 20px 5px 0 0;
}

.sushi-avatar {
  height: 80px;
  width: auto;
}

.sushi-avatar:hover {
  transform: scale(1.1);
}

#back-card {
  background-color: #fd754f;
  width: 273px;
  height: 77px;
  border: solid 5px #fec640;
  font-family: Avenir;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 30px 40px 30px;
  word-break: keep-all;
}
.roll-name {
  font-weight: bold;
  font-size: 22px;
}

.find-button {
  height: 30px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 10px;
  border-radius: 10px;
  color: white;
  align-self: flex-end;
}
