.sushi-rolls {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: row;
  justify-content: space-between;
}

.sushi-roll-div {
  width: 300px;
  height: 100px;
  border: solid 5px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 25px;
  padding: 10px 10px 30px 30px;
  margin-left: 50px;
  margin-top: 40px;
}
