.circle {
  background-color: #ffae00;
  border-radius: 50%;
  width: 430px;
  height: 430px;
  padding: 40px;
  margin-left: -60px;
}

.discoversushi {
  text-align: left;
  color: #16322d;
  font-family: Avenir;
  font-size: 43px;
  margin-bottom: 30px;
  margin-left: 80px;
}

.home-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.sushi-tray {
  height: 560px;
  width: auto;
  margin-right: 40px;
  margin-top: 20px;
}
