.profile-avatar-pic {
  height: 200px;
  width: auto;
}

.profile-body {
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: row;
}

.profile {
  display: flex;
  flex-direction: row;
}
.username {
  background-color: #3d8077;
  color: #fec640;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  padding: 40px;
  font-family: Avenir;
  text-align: left;
  margin: 50px 0 0 0;
}

.name {
  text-transform: uppercase;
  margin: 110px 0 0 15px;
  font-size: 60px;
}

.email {
  font-size: 30px;
  margin-left: 15px;
}

.activity {
  font-family: Avenir;
  margin-left: 70px;
}

.activity-header {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

.users-activity {
  width: 500px;
  height: 70px;
  border: solid 5px #fec640;
  font-family: Avenir;
  color: #226259;
  border-radius: 20px;
  font-size: 26px;
  padding: 20px 30px 30px 30px;
}

.users-activity-2 {
  width: 500px;
  height: 70px;
  border: solid 5px #226259;
  font-family: Avenir;
  color: #fec640;
  border-radius: 20px;
  font-size: 26px;
  padding: 20px 30px 30px 30px;
}
